{
  "env": {
    "development": {
      "presets": "next/babel",
      "plugins": [
        "inline-dotenv",
        ["styled-components", {
          "displayName": true,
          "ssr": true,
          "preprocess": false
        }]
      ]
    },
    "production": {
      "presets": "next/babel",
      "plugins": [
        "transform-inline-environment-variables",
        ["styled-components", {
          "displayName": true,
          "ssr": true,
          "preprocess": false
        }]
      ]
    },
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ],
      "plugins": [
        "inline-dotenv",
        ["styled-components", {
          "displayName": true,
          "ssr": true,
          "preprocess": false
        }]
      ]
    }
  }
}